ENV=PROD or DEV or TEST
OWNER=Own or School or Other (batch processing, download own library, school library, or all public learning tracks)
URL=learning_track_url (ignored when owner is specified)
USERNAME=i_learn_username
PASSWORD=i_learn_password
